

  <!-- <div class = "table"> -->
    <table  class = "table table-striped">
      <thead>
        <tr>
          <th>Difficulty rating</th>
          <th>Workload rating</th>
          <th>Likeability rating</th>
          <th>Comment</th>
          <th>Course</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @scores.each do |score| %>
          <tr>
            <td><%= score.difficulty_rating %></td>
            <td><%= score.workload_rating %></td>
            <td><%= score.likeability_rating %></td>
            <td><%= score.comment %></td>
            <td><%= score.course.name %></td>
            <td><%= link_to 'Show', score %></td>
            <td><%= link_to 'Edit', edit_score_path(score) %></td>
            <!--<td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  <!-- </div> -->
<br>