<div class="border-form-div">

  <h2>Editing Score</h2>

  <%= render 'form' %>
  <button type="button" class="btn btn-sm btn-default"><%= link_to 'Show', @score %></button>
  <button type="button" class="btn btn-sm btn-default"><%= link_to 'Back', :back %></button>
</div>
